@import url('https://fonts.googleapis.com/css?family=Lato:wght@300&family.Oswald&display=swap');

h2 {
  padding-left: 10px;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: black;
}

/* Style the navigation bar links */
.navbar a {
  padding: 10px;
  color: white;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}

/* Footer */
.footer {
  text-align: center;
  background: green;
  padding: 10px;
}

/* Responsive layout when the screen is less than 600px wide */
@media screen and (max-width: 600px) {

  .row,
  .navbar,
  .fungames {
    flex-direction: column;
  }

  .label,
  .info,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.fungames h3 {
  text-align: center;
}

.fungames {
  display: flex;
  margin: 5px;
  padding: 10px;
}

.fungames>div {
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  flex-direction: column;
  flex-basis: 31%;
  margin: 5px;
  padding: 10px;
}

/* sign up form */
.form-heading h2 {
  padding: 10px;
  text-align: center;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 10px 10px 10px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}

.we-do {
  background-color: beige;
  opacity: .8;
}

.label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.info1 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.info {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.about {
  padding-top: 20px;
  width: 50%;
}

.about ul li {
  padding-bottom: 20px;
  text-align: left;
}

.li:before {
  content: ”\00A3″;
  font-family: “Font Awesome 5 Free“;
  font-weight: 900;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}