@import url('https://fonts.googleapis.com/css?family=Lato:wght@300&family.Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #272727;

}

#logo {
    padding-left: 30px;
}

/* formating the nav elements */
#menu {
    font-size: 110%;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image {
    margin-left: 30px;
    height: 600px;
    width: 100%;
    background: url(../images/kids-playing-computer.jpeg) no-repeat left;
}

#rec-games {
    float: left;
    width: 100%;
}

#foot {
    float: right;
    width: 100%;
}

#left-game {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#center-game {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: red;
}

#right-game {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: yellow;
}

/* style fungames.html elements */

#games-heading {
    text-align: center;
    text-transform: uppercase;
}

#game-name {
    text-align: center;
}

/****************************/

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}