@import url('https://fonts.googleapis.com/css?family=Lato:wght@300&family.Oswald&display=swap');

h2 {
  padding-left: 10px;
}

/* Header/logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: green;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: black;
}

/* Style the navigation bar links */
.navbar a {
  padding: 10px;
  color: white;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}

/* Footer */
.footer {
  text-align: center;
  background: green;
  padding: 10px;
}

/* Responsive layout when the screen is less than 600px wide */
@media screen and (max-width: 600px) {

  .row,
  .navbar,
  .fungames {
    flex-direction: column;
  }

  .label,
  .info,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.fungames {
  display: flex;
  background-color: blue;
  margin: 5px;
  padding: 10px;
}

.fungames>div {
  background-color: yellow;
  margin: 5px;
  padding: 10px;
}

/* sign up form */
.form-heading h2 {
  padding: 10px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-image: url("../images/kids-playing-computer.jpeg");
  background-size: contain;
  padding: 30px;
}

.label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.info {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.about ul li {
  padding-bottom: 20px;
  padding-left: 12px;
  text-align: left;
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
  margin: 5px;
  padding: 10px;
}

.social-media a {
  float: left;
  height: 100px;
  width: 400%;
  background: yellow;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid red;
}

/* Facebook */
.fa-facebook,
.fa-twitter,
.fa-instagram {
  color: black;
}